body {
    margin: 0;
    background-color: rgb(80, 131, 148);
}

/** HOME PAGE STYLING **/

.head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 0;
    width: 100vw;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav > button {
    width: 8rem;
    height: 3rem;
    text-align: center;
    margin: 0 50px;
}

#content {
    width: 100vw;
    height: 90vh;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0 0 0;
    gap: 20px;
}

.img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img {
    height: 400px;
    width: 450px;
    border-radius: 30px;
}

.schedule {
    border: 2px black solid;
    height: 200px;
    width: 200px;
    padding: 2rem;
    border-radius: 20px;
}

.schedule-title {
    text-decoration: underline;
    font-size: 1.75rem;
}

/** HOME PAGE STYLING **/



/** MENU PAGE STYLING **/



.menu {
    display: flex;
    height: 400px;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0 0 0;
    padding: 1.5rem;
}

.menu-img {
    height: 250px;
    width: 250px;
    border-radius: 25px;
}

.desc {
    height: 50px;
    width: 250px;
    padding-left: 5px;
}

.burger1, .burger2, .fry1, .fry2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
}

/** MENU PAGE STYLING **/



/** ABOUT PAGE STYLING **/



/** ABOUT PAGE STYLING **/